#getLocation {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(yellow, #2E86AB);
}

#locFrom {
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#locFrom h1 {
    font-size: 250%;
    text-align: center;
    color: #FFF;
}

#locFrom input {
    font-size: 150%;
    width: 400px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

#locFrom textarea:focus, #locFrom input:focus{
    outline: none;
}

#locFrom button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}